{% extends 'layout.html' %}

{% block title%}
About Page
{% endblock %}

{% block body %}
<div class="container about" style="margin-bottom: 100px;">
  <h1 id="heading">
    SigmaCodes data analysis and visualization services
  </h1>
  <h2>
    This project is my portfolio project built as a student of Alx.
    SigmaCodes is all about helping our clients tell the stories behind
    their data using interactive visualizations. Our web services offer
    our users the ability to upload their data in csv or excel format and
    interactively generate their desired charts. It also ensures that the
    appropriate charts are used for visualizations hence enabling those
    without statistical knowledge to still use our services. <br><br>

    Our team of experienced researchers are available to offer professional
    writing services, data analysis and research consultation. Other services we offer
    include professional review of research papers, data cleaning services,
    questionnaire structuring and lots more.
  </h2>
  <hr>
  <h1>
    Motivation for this project
  </h1>
  <h2>
    We are in a data-driven age yet only few can easily tell the stories behind their data. 
    As a student, I have had occasions where my classmates and I had to make presentations with 
    data which required us to look for those with technical skills to do that.
    With this web application, I’m able to sharpen and showcase my data manipulation and 
    visualization skills while offering my users opportunity to interact with their data in a visual way.

</h2>
  <hr>
  <h1>
    Time frame for completion of project
  </h1>
  <h2>
    This project was done in a span of 4 weeks with different tasks for each week managed using the project management
    software Trello board<br>
    <b>Week 1 and 2:</b> Front end and backend development<br>
    <b>Week 3:</b> Project landing page and presentation<br>
    <b>Week 4:</b> Code clean up

</h2>
  <hr>
  <h1>
    Technologies, languages and major packages
  </h1>
  <h2>
  <ul>
    <h2>Front end development</h2>
    <li>jQuery javascript framework</li>
    <li>Css</li>
    <li>Html</li>
    <li>Bootstrap</li>
    <hr>
    <h2>Back end development</h2>
    <li>Django python framework</li>
    <hr>
    <h2>Data manipulation and visualization</h2>
    <li>Pandas</li>
    <li>Seaborn</li>
    <li>Matplotlib</li>
    <hr>
    <h2>Version control</h2>
    <li>GIT</li>
    <hr>
    <h2>Deployment</h2>
    <li>Linux server</li>
    <li>Nginx web server</li>
    <li>Gunicorn</li>
    <hr>
    <h2>Project management</h2>
    <li>Trello board</li>

  </ul>
</h2>
  <hr>
  <h1>
    AUTHORS
  </h1>
  <h2>
    Every part of this project was built by <a href="https://github.com/DrPlain">Gideon Obiasor</a> a student
    of ALX Full Stack Software Engineering program as one of the course requirements. This project was done
    in my 9th month of a 12-month training as a necessary step before progressing to
    specialization.
  </h2>
  <hr>
  <h1>
    Links
  </h1>
  <h2>
  <ul>
    <li><a href="https://github.com/DrPlain/portfolio-project_django">Project Github repository</a></li>
    <li>Email: gideonobiasor@gmail.com</li>
    <li>LinkedIn profile: <a href="https://www.linkedin.com/in/obiasor-gideon-46116418b">Gideon Obiasor</a></li>
  </ul>
</h2>

</div>
<footer class="py-3 my-0">
  <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="{% url 'landing-home' %}" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="{% url 'landing-about' %}" class="nav-link px-2 text-muted">About</a></li>
    <li class="nav-item"><a href="{% url 'dashboard-data' %}" class="nav-link px-2 text-muted">Dashboard</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Services</a></li>
    <li class="nav-item"><a href="{% url 'landing-home' %}" class="nav-link px-2 text-muted">Register</a></li>
  </ul> -->
  <p class="text-center text-muted">&copy; 2023 Dr-Plain AL</h2>
</footer>
{% endblock %}