{% extends 'layout.html' %}

{% block title %}
Visualization dashboard
{% endblock %}

{% block body %}
<div class="container-fluid dashboard">
    <form class="form-input" action="{% url 'dashboard-data' %}" method="post">
        {% csrf_token %}
        <div class="form-item">
            <h2>Select data set: {{ form.data }}</h2> 
         </div>
        <input class="btn btn-success" type="submit">
    </form>
    <div class="d-flex align-items-center flex-column bd-highlight mb-10">
        {% load static %}
        <div class="p-2 bd-highlight">
            <img src="{% static 'img/images01.png' %}" class="rounded mx-auto d-block" alt="Responsive image"
                style="width: 100%;">
        </div>
    </div>
</div>



{% endblock %}