server_tokens			off;
access_log			/var/log/nginx/sigmacodes.access.log;
error_log			/var/log/nginx/sigmacodes.error.log;

server {
	server_name 		100.26.233.107 sigmacodes.tech www.sigmacodes.tech;


	# Tell nginx to ignore favicon not found
	location = /favicon.ico { access_log off; log_not_found off; }

	# Links nginx to gunicorn
	location / {
		include proxy_params;
		proxy_pass	http://localhost:8000;
	}
	
	location /static {
		autoindex on;
		alias /var/www/sigmacodes.tech/static/;
	}

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/sigmacodes.tech/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/sigmacodes.tech/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot


}


server {
    if ($host = www.sigmacodes.tech) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = sigmacodes.tech) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


	server_name 		100.26.233.107 sigmacodes.tech www.sigmacodes.tech;
	listen			80;
    return 404; # managed by Certbot




}